.address {
  position: relative;

  &--background {
    background-color: $basic-grey;
  }
}

.address__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 65px 70px 56px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    padding: 65px 70px 56px 70px;
    top: 92px;
    left: 115px;
    background-color: $white;
  }
}

.address__text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: $black;
  text-align: start;

  &--font {
    font-family: $arial;
    font-size: 14px;
    color: $grey;

    br {
      display: none;
    }

    @media (min-width: $tablet-width) {
      padding-left: 280px;
      text-align: end;
      font-size: 16px;
      line-height: 20px;

      br {
        display: block;
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 86px;
      text-align: start;
    }
  }

  &--bold {
    text-transform: uppercase;
    width: 145px;
    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 26px;
      width: 164px;
    }
  }
}
