.address {
  outline: 2px solid $green;
  outline-offset: -3px;
  position: relative;

  &--background {
    background-color: $basic-grey;
  }
}

.address__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 26px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    background-color: $white;
    left: 110px;
    top: 98px;
  }
}

.address__text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: $black;
  text-align: start;

  &--font {
    font-family: $arial;
    font-size: 14px;
    color: $grey;
  }

  &--bold {
    text-transform: uppercase;
  }
}
