.before-after {
  outline: 2px solid $green;
  outline-offset: -3px;
  background-color: $bg-grey-light;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 462px;
      background-color: $basic-grey;
    }
  }
}

.before-after__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 436px 1fr;
  }
}

.before-after__title {
  margin: 0 0 40px;
  color: $black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    @include tablet-title;
    grid-column: 1;
  }
}

.before-after__text {
  font-family: $arial;
  margin: 0;
  color: $grey;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    @include tablet-fonts;
  }
}

.before-after__days {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    column-gap: 48px;
  }
}

.before-after__list {
  @include clear-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    justify-content: center;
    column-gap: 42px;
  }
}

.before-after__item {
  span {
    display: block;
    margin-bottom: 7px;
    color: $black;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    color: $grey;
    font-family: $arial;
    text-align: center;
  }
}

.before-after__cost {
  margin: 0 0 40px;
  color: $black;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    width: 100%;
    justify-content: flex-start;

    span {
      margin-left: 63px;
    }
  }
}
