.catalog {
  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }
}

.catalog__title {
  margin: 0 0 40px;
  color: $black;
  font-size: 36px;
  line-height: 36px;
  text-align: start;
  font-weight: 400;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    @include tablet-title;
    margin-bottom: 163px;
    padding-top: 41px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
  }
}

.catalog__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 141px;
  }
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: $special-grey;
    top: 0;

    @media (min-width: $tablet-width) {
      display: none;
      justify-content: flex-start;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 324px;
    min-height: 430px;
    flex-direction: column;
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-bottom: 40px;
  }
}

.catalog__item:not(:last-child) {
  padding-top: 19px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 38px;
  }
}

.catalog__description {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.catalog__link {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35px;
    left: 50%;
    margin: 0 auto;
  }
}

.catalog__link-button {
  @media (min-width: $tablet-width) {
    width: 248px;
    margin: 0 auto;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    font-size: 16px;
  }
}

.catalog__img {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
