.choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: 2px solid $green;
  outline-offset: -3px;
}

.choice__name {
  font-size: 16px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
