.compare {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 1/4;
    background-color: transparent;
  }
}

.compare__wrapper {
  position: relative;
}

.compare__before,
.compare__after {
  overflow: hidden;
  position: relative;
}

.compare__img {
  &--after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    height: 511px;
    width: 100%;
    margin: 0 auto;

    &--after {
      display: block;
      position: absolute;
      width: 50%;
    }
  }
}
