.contains {
  outline: 2px solid $black;
  outline-offset: -3px;
}

.contains__title {
  margin: 0;
  line-height: 20px;
  font-weight: 400;
  width: 78px;
}


.contains__item {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
  font-family: $arial;
  justify-content: space-between;

  dd {
    @include clear-list;
  }
}
