.diets-catalog {
  margin-bottom: 20px;
  outline: 2px solid $green;
  outline-offset: -3px;
}

.diets-catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    justify-content: space-between;
  }
}

.diets-catalog__diet {
  margin-bottom: 20px;
  background-color: $bg-grey;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    height: 374px;
  }
}

.diets-catalog__title {
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.diets-catalog__text {
  font-family: $arial;
  color: $grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include tablet-fonts;
  }
}

.diets-catalog__arrow {
  position: relative;
  text-transform: uppercase;
  margin: 0;

  a {
    color: $black;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/icons/icon-right-arrow.svg");
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 10px;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }
}
