.extra-goods {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.extra-goods__wrapper {
  overflow-x: hidden;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
  }
}

.extra-goods__bonus {
  position: relative;

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 2/3;
  }
}

.extra-goods__title {
  margin: 0 0 34px;
  color: $black;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 0 0 80px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 1;
    width: 445px;
  }
}

.extra-goods__list {
  @include clear-list;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    margin-right: 79px;
    margin-bottom: 0;
  }
}

.extra-goods__item {
  padding-top: 10px;
  padding-bottom: 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid $border-hover;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 181px 50px;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 80px 244px;
    align-items: center;
  }
}

.extra-goods__item:last-child {
  border-bottom: 1px solid $border-hover;
}

.extra-goods__text {
  text-transform: uppercase;
  color: $hex;
  line-height: 16px;
  margin: 0 0 13px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-goods__count {
  margin: 0 0 15px;
  font-family: $arial;
  color: $grey;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    font-size: 16px;
    margin: 0;
  }
}

.extra-goods__price {
  font-family: $arial;
  margin: 0;
  color: $grey;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    font-size: 16px;
  }
}

.extra-goods__link {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    grid-row: 1;
    grid-column: 4;
  }
}
