.form {
  margin: 0;
}

.form__container {
  @media (min-width: $tablet-width) {
    max-width: 630px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.form__types-item:not(:last-child) {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

textarea {
  margin-bottom: 27px;
  width: 100%;
  height: 150px;
  resize: none;
}

.form__parameters-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 569px 568px;
    justify-content: space-between;
  }
}

.form__types {
  border-top: 1px solid $bg-grey;
  border-bottom: 1px solid $bg-grey;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
  }
}

.form__types-wrapper {
  padding-top: 22px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    border: 1px solid $bg-grey;
    padding-left: 27px;
  }
}

.form__parameters-list {
  padding-bottom: 27px;
}

.form__comments {
  display: block;
}

.form__comments-title {
  margin-bottom: 37px;
  display: inline-block;
  color: $black;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.form__contact-title {
  width: 216px;
  margin: 0 0 37px;

  @media (min-width: $tablet-width) {
    width: 384px;
  }

  @media (min-width: $desktop-width) {
    width: 634px;
  }
}

.form__contact-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
  }
}

.form__extra {
  padding-bottom: 32px;
}

.form__extra-wrapper {
  padding: 0 0 41px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}

.form__extra-choice:not(:last-of-type) {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__extra-choice {
  @media (min-width: $tablet-width) {
    width: 241px;
  }
}

.form__extra-title {
  margin: 0 0 34px;
}

.form__extra-text {
  padding: 0;
  margin: 0;
  color: $black;
  font-size: 14px;
  line-height: 16px;
  font-family: $arial;
  text-align: center;

  @media (min-width: $tablet-width) {
    float: right;
  }
}

.form__extra-button {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__line {
  position: relative;

  @media (min-width: $tablet-width) {
    left: -40px;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 3px;
    background-color: $green;
    top: 14px;
    z-index: -1;
  }

  &::before {
    @media (min-width: $tablet-width) {
      right: 30px;
    }
  }

  &::after {
    left: 20px;
  }
}
