.functional {
  margin-bottom: 49px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.functional__wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.functional__title {
  margin: 0 0 41px;
  color: $black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    @include tablet-title;
  }
}

.functional__list {
  @include clear-list;
  font-family: $arial;
  counter-reset: itemNum;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 135px;
    row-gap: 36px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}

.functional__item {
  display: flex;


  @media (min-width: $tablet-width) {
    flex-direction: column;
    position: relative;
    width: 250px;
    height: 280px;
    z-index: 1;
    row-gap: 32px;

    &::after {
      counter-increment: itemNum;
      content: counter(itemNum);
      position: absolute;
      z-index: -1;
      top: -40px;
      left: 115px;
      font-family: $main-font;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    text-align: start;
  }
}

.functional__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.functional__text {
  margin: 0;
  color: $grey;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include tablet-fonts;

    br {
      display: block;
    }
  }
}

.functional__img {
  flex-shrink: 0;
  margin-right: 24px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}
