
.header__wrapper {
  display: block;
  padding: 0;
  max-width: $mobile-only;

  @media (min-width: $tablet-width) {
    @include tablet;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    @include desktop;
  }
}

.header__logo {
  display: block;
  width: 235px;
  padding: 24px 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}
