.header {
  &--border {
    border-bottom: 1px solid $bg-grey;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }
}

.header__wrapper {
  display: block;
  padding: 13px 20px;
  max-width: $mobile-only;

  @media (min-width: $tablet-width) {
    @include tablet;
    padding-top: 24px;
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    @include desktop;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.header__logo {
  display: block;
  width: 235px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    margin-left: 5px;
  }
}
