.select-programm {
  padding: 27px 0 39px;
}

.select-programm__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }
}

.select-programm__title {
  margin: 0 auto 37px;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.select-programm__text {
  margin: 0;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
