//text
$white: #ffffff;
$black: #000000;
$grey: #444444;

//backgrounds
$green: #68b738;
$green-cat: #62a53b;
$basic-grey: #f2f2f2;
$special-grey: #ebebeb;
$icon-color: #666666;
$bg-grey: #d9d9d9;
$bg-grey-light: #eaeaea;

//shadows
$radio-shadows: 0 1px 3px 0 #00000029;
$radio-shadows-hover:  0 2px 4px 0 #00000030;


//hover active
$green-line: #68b738;
$border-hover: #cdcdcd;
$border-focus: #444444;

//borders
$border-error: #ff8282;
$border-grey: #e6e6e6;

//fonts
$main-font: "Oswald", sans-serif;
$arial: "Arial", sans-serif;


//size
$mobile-only: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
